<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jpa="http://www.springframework.org/schema/data/jpa"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/data/jpa
       http://www.springframework.org/schema/data/jpa/spring-jpa.xsd">

<!--jpa -->

<jpa:repositories base-package="com.logistics.delivery_optimizer.repository" />


<!-- vehicle-->
<bean id="vehicleMapper" class="com.logistics.delivery_optimizer.mapper.VehicleMapper"/>

<bean id="vehicleserviceimpl" class="com.logistics.delivery_optimizer.service.VehicleServiceImpl">
       <property name="vehicleMapper" ref="vehicleMapper"/>
       <property name="vehicleRepository" ref="vehicleRepository"/>
</bean>

<bean id="vehicleController" class="com.logistics.delivery_optimizer.Controller.VehicleController">
       <constructor-arg name="vehicleService" ref="vehicleserviceimpl" ></constructor-arg>
</bean>


<!-- delivery-->

<bean id="deliveryMapper" class="com.logistics.delivery_optimizer.mapper.DeliveryMapper" ></bean>

<bean id="deliveryServiceImpl" class="com.logistics.delivery_optimizer.service.DeliveryServiceImpl">
       <property name="deliveryMapper" ref="deliveryMapper"/>
       <property name="deliveryRepository" ref="deliveryRepository"/>
</bean>

<bean id="deliveryController" class="com.logistics.delivery_optimizer.Controller.DeliveryController">
       <constructor-arg name="deliveryService" ref="deliveryServiceImpl"></constructor-arg>
</bean>

</beans>